/* centering stylesheet */

html
{
  font-size: 12px;
}

body
{
  font-size: 2em;
}

nav
{
  /* centering the text horizontally */
  text-align: center;
}

div.box-centering
{
  text-align: center; /* centering text within box */
  width: 200px;
  margin: 0 auto; /* centering the box */
  background-color: red;
  color: cyan;
}
