/* centering stylesheet */

html{font-size: 12px;}
body{font-size: 2em;}


nav
{
  /* centering the text horizontally */
  text-align: center;
}

div.box-centering
{
  text-align: center; /* centering text within box */
  vertical-align: middle;
  width: 220px;
  margin: 0 auto; /* centering the box */
  background-color: red;
  color: cyan;
}

main div
{
  background: green;
  color: yellow; /* color of text */
  padding: 17px; /* space between the text & border of box */
  margin: 7px; /* space between the boxes */
}

main.multiple-boxes-center
{
  display: flex; /* flex boxes */
  justify-content: center;
}
